.icon {
    display: flex;
    justify-content: flex-end;
}

.tooltip-content:hover {
    background-color: black;
    color: white;
}

.tooltip-content {
    position: relative;

    top: 120px;
}
